.test{
    
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding: 30px;
    margin-bottom: 20px;
}
.test h2{
    margin-bottom: 20px;
    
}
.banner{
    width: 104.60%;
    margin-top: 20px;

}
