
#banner{
   
    width: 100%;
    
  
    
   
    
    
}

header{

    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    
}

.input{
    display: flex;
    align-items: center;
    justify-content: center;
}
#icon-search{
    margin-top: 10px;
    margin-left: -30px;
}
main{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.itens{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr;
    gap: 1px 1px;
    margin-bottom: 14vh;
    
}
.item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: bold;
    border-radius: 20px;
    text-align: center;
    padding: 20px;
    margin: 10px;
    background-color: #fff;
    -webkit-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
    -moz-box-shadow:    9px 7px 5px rgba(50, 50, 50, 0.77);
    box-shadow:         1px 1px 6px rgba(50, 50, 50, 0.77);
}
.item a{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    color: #818689;
}
.item:hover{
    border: 2px #f6a32d solid;
}