
.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #FF6914;
    padding-top: 40px;
}
.banner input{
    border: none;
    border-radius: 20px;
    padding-left: 20px;
    margin-top: 10px;
    width: 120%;
    height: 40px;
}
.banner a {
    padding: 8px;
    color: white;
    margin-top: 10px;
    border-radius: 25px;
    border: 2px #fff solid;
    text-decoration: none;
}
.input{
    display: flex;
    align-items: center;
    justify-content: center;
}
#icon-search{
    margin-top: 10px;
    margin-left: -30px;
}
main{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.itens{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr;
    gap: 1px 1px;
    margin-bottom: 14vh;
    
}
.item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: bold;
    border-radius: 20px;
    text-align: center;
    padding: 20px;
    margin: 10px;
    background-color: #fff;
    -webkit-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
    -moz-box-shadow:    9px 7px 5px rgba(50, 50, 50, 0.77);
    box-shadow:         1px 1px 6px rgba(50, 50, 50, 0.77);
}
.item a{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    color: #818689;
}
.item:hover{
    border: 2px #FF6914 solid;
}