
.banner video{
   background-position: center;
   background-size: cover;
   height: 60%;
   width: 100%;
}
.cards{
    background-color: white;
    margin-top: 20px;
    width: 80%;
    display: flex;
    padding: 10px;
    border-radius: 18px;
   
}
.img-lanche{
    width: 150px;
    height: 150px;
}
h2{
    margin-top: 60px;
}