main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
   
}
main iframe{
    margin-top: 90px;
}
#btn-voltar{
    position: fixed;
    top:15px;
    left: 30px;
}

.sobre{
    width: 80%;
    padding: 20px;
    font-size: 15px;
    margin-bottom: 20px;
    border-radius: 20px;
    background-color: white;
    margin-top: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column  ;
}