.header{
    width: 100%;
    margin-top: -23px;
    height: 20vh;
    background-color: #313a53;
    border-radius: 0px 0px 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-transform: uppercase;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main ul{
    margin-top: -27px;
}
.cards{
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-weight: bold;
    border-radius: 14px;
    text-align: center;
    padding: 20px;
    margin: 10px;
    background-color: #fff;
    -webkit-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
    -moz-box-shadow:    9px 7px 5px rgba(50, 50, 50, 0.77);
    box-shadow:         1px 1px 6px rgba(50, 50, 50, 0.77);
}
.cards-description{
    margin-left: 10px;
   
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.cards-description p{
    color: #818689;
    font-size: 13px;
}
.cards-description h2{
    color: #313a53
}
#btn-wpp{
    text-decoration: none;
    border: none;
    background-color: #4AC05F;
    color: #fff;
    padding: 5px;
    margin-top: 10px;
    border-radius: 6px;
    font-weight: bold;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 3px;

}
#btn-info{
    text-decoration: none;
    border: none;
    background-color: #24282C;
    color: #fff;
    padding: 5px;
    margin-top: 10px;
    border-radius: 6px;
    font-weight: bold;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 3px;

}
#icon-wpp{
    margin-left: 5px;
}
.links{
    display: flex;
}
#cidade{
    color: #f6a32d;
    font-size: 13px;
}

.not-itens{
    
   color: #313a53;
   font-weight: bold;
   font-size: 18px;
   display: flex;
   justify-content: center;
   align-items: center;
}